<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://example.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>example.com</MSDeployServiceURL>
    <DeployIisAppPath>example.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>myName</UserName>
    <_SavePWD>True</_SavePWD>
    <IncludeSetACLProviderOnDestination>False</IncludeSetACLProviderOnDestination>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <Target Name="CustomMediaFiles">
    <ItemGroup>
      <_CustomMediaFiles Include="Media\**\*.png" />
      <_CustomMediaFiles Include="Media\**\*.jpg" />
      <FilesForPackagingFromProject Include="%(_CustomMediaFiles.Identity)">
        <DestinationRelativePath>Media\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="CustomCssFiles">
    <ItemGroup>
      <_CustomCssFiles Include="css\*.css" />
      <FilesForPackagingFromProject Include="%(_CustomCssFiles.Identity)">
        <DestinationRelativePath>css\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="CustomScriptsFiles">
    <ItemGroup>
      <_CustomScriptsFiles Include="scripts\*.js" />
      <FilesForPackagingFromProject Include="%(_CustomScriptsFiles.Identity)">
        <DestinationRelativePath>scripts\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
    <ItemGroup>
      <_CustomJsFiles Include="js\*.js" />
      <FilesForPackagingFromProject Include="%(_CustomJsFiles.Identity)">
        <DestinationRelativePath>js\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="CustomViewsFiles">
    <ItemGroup>
      <_CustomViewsFiles Include="Views\**\*.cshtml" />
      <FilesForPackagingFromProject Include="%(_CustomViewsFiles.Identity)">
        <DestinationRelativePath>Views\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="CustomPackageFiles">
    <ItemGroup>
      <_CustomPackageFiles Include="App_Data\packages\**\*.config" />
      <FilesForPackagingFromProject Include="%(_CustomPackageFiles.Identity)">
        <DestinationRelativePath>App_Data\packages\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForPackageDependsOn>CustomMediaFiles;CustomCssFiles;CustomScriptsFiles;CustomViewsFiles;CustomPackageFiles;</CopyAllFilesToSingleFolderForPackageDependsOn>
    <CopyAllFilesToSingleFolderForMsdeployDependsOn>CustomMediaFiles;CustomCssFiles;CustomScriptsFiles;CustomViewsFiles;CustomPackageFiles;</CopyAllFilesToSingleFolderForMsdeployDependsOn>
  </PropertyGroup>
</Project>
